.container {
  width: 50%;
  margin: 0 auto;
  /* border: 0.5px solid black; */
}

.error {
  color: red;
  margin-bottom: 1em;
}

fieldset {
  width: 50%;
  display: flex;
}

input {
  margin: 0.5em;
}
